@media screen and (min-width: 1094px){
  .cartContainer{
          position: fixed;
          top: 0;
          right: 2rem;
          display: flex;
          background-color: #F6EDE2;
          border-radius: 0 0 2rem 2rem;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-bottom: 1rem;
          z-index: 9999;
          
  }
  
  .cartItemInfo{
    align-self: center;
    text-align: center;
  }
  .cartContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .cartTab{
   
    display: flex;
    flex-direction: row;
    .tabItem{
      
      text-align: center;
  
    }
  }
  .cartContainer.closed {
    display: none;
  }
  .buttonsForItem{
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 2rem;
   
  }

}


@media screen and (max-width: 1093px){
  .cartContainer{
    background-color: #F6EDE2;
    z-index: 9999;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
    border-radius: 2rem;
}
.cartItemInfo{
  align-self: center;
  text-align: center;
}
.buttonsForItem{
  display: flex;
  justify-content: center;
 
}
.cartContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.cartTab{
   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .tabItem{
    padding: 3rem;
   
  
  }
}
}