main {
  border-radius: 3rem;
  width: 70%;
  background-color: #f7f3ee;
  margin: 3rem auto;
  padding: 2rem;
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .bookInfo {
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    img {
      width: 25%;
    }
    .purchaseInfo {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  .moreBooks {
    h4 {
      text-align: center;
    }
    .booksByAuthor {
      justify-content: center;
      a:visited,
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@media (max-width: 1093px) {
  main {
    max-width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    .bookInfo {
      gap: 2rem;
      img {
        width: 100%;
      }
    }
  }
}
