body {
  background-color: #f3e5d0;
  margin: 0;
  padding: 0;
}

.frame-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Mobile */
@media screen and (max-width: 1093px) {
  .round-corner {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f3ee;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #00000033;
    padding: 20px;
    box-sizing: border-box;
  }
  .book-icon {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  .text {
    text-align: center;
    .title {
      color: #291911;
      font-size: 2rem;
      font-family: "Abyssinica SIL";
      text-align: center;
      margin-top: 20px;
    }
    .desc {
      color: #9d918b;
      font-size: 16px;
      text-align: center;
      margin-top: 10px;
    }
  }

  .bookshelf {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    .book-image {
      width: calc(50% - 10px);
      max-width: 300px;
      margin-bottom: 20px;
    }

    .another-image {
      width: calc(50% - 10px);
      max-width: 300px;
      margin-bottom: 20px;
    }
  }
  .frontpage-books {
    margin-top: 1rem;
    gap: 1rem;
    .frontpage-book-card {
      background-color: white;
      border-radius: 2rem;
      padding: 1rem;
      img {
        width: 300px;
        height: 400px;
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 1094px) {
  .round-corner {
    width: 80%;
    margin: 3rem auto;
    background-color: #f7f3ee;
    border-radius: 20px;
    box-shadow: 15px 15px 50px #78787833;
    padding-bottom: 5rem;
    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a,
      a:visited {
        color: black;
        margin: 2rem;
      }
      .book-icon {
        width: 120px;
        align-self: flex-start;
        margin: 3rem;
      }
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .text {
        .title {
          color: #291911;
          font-size: 4rem;
          font-family: "Abyssinica SIL";
        }
        .desc {
          color: #9d918b;
          font-size: 20px;
          margin-top: -20px;
        }
      }
      .bookshelf {
        .book-image {
          width: 200px;
          height: 300px;
          box-shadow: 0px 0px 10px 0px #5d5c5c;
          margin-right: 3rem;
        }

        .another-image {
          width: 150px;
          padding-bottom: 2rem;
        }
      }
    }
  }
  .frontpage-books {
    margin-top: 1rem;
    gap: 1rem;
    .frontpage-book-card {
      background-color: white;
      border-radius: 2rem;
      padding: 1rem;
      display: block;
      img {
        display: block;
        margin: auto;
        width: 200px;
        height: 300px;
      }
    }
  }
}
