.status-select {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background-color: #f7f3ee;
}
.button-container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  .add-new-button {
    a,
    a:visited {
      color: black;
      text-decoration: none;
    }
  }
}
