.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F3E5D0;


    .heading {
        text-align: center;
        margin-bottom: 20px;
    }

    .orders {
        text-align: center;
    }

    .books {
        text-align: center;
    }

}

.box {
    background-color: #F7F3EE;
    padding: 20px;
    height: 100%;
    max-width: 100%;
    border-radius: 20px;

    box .bold-cell {
        font-weight: bold;
    }

    .toggle-Wrapper {
        margin: 0;
    }
}