.product-wrapper {
  max-width: 80%;
  background-color: #f7f3ee;
  padding: 3rem;
  margin: 3rem auto;
  border-radius: 3rem;
  a,
  a:visited {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
